<div class="d-flex flex-column gap-2">

  <div class="d-flex justify-content-center my-3">
    <img
      [src]="item.img"
      alt=""
      style="width: 100px; height: 100px"
      class="rounded-circle"
    />
  </div>
  <mdb-form-control>
    <input mdbInput type="text" id="formControlImg" class="form-control" [(ngModel)]="item.img"/>
    <label mdbLabel class="form-label" for="formControlImg">Image</label>
  </mdb-form-control>

  <mdb-form-control>
    <input mdbInput type="text" id="formControlStreamer" class="form-control"
           [(ngModel)]="item.name"
           [disabled]="!isNew"/>
    <label mdbLabel class="form-label" for="formControlStreamer">Streamer</label>
  </mdb-form-control>
  <mdb-form-control>
    <input mdbInput type="text" id="formControlTitle" class="form-control" [(ngModel)]="item.group"/>
    <label mdbLabel class="form-label" for="formControlTitle">Group</label>
  </mdb-form-control>
  <mdb-form-control>
    <input mdbInput type="text" id="formControlChannelId" class="form-control" [(ngModel)]="item.channelId"/>
    <label mdbLabel class="form-label" for="formControlChannelId">Youtube Channel Id</label>
  </mdb-form-control>
  <mdb-form-control>
    <input mdbInput type="text" id="formControlYoutubeLink" class="form-control" [(ngModel)]="item.youtubeLink"/>
    <label mdbLabel class="form-label" for="formControlYoutubeLink">Youtube Link</label>
  </mdb-form-control>
  <mdb-form-control>
    <input mdbInput type="text" id="formControlTwitterLink" class="form-control" [(ngModel)]="item.twitterLink"/>
    <label mdbLabel class="form-label" for="formControlTwitterLink">Twitter Link</label>
  </mdb-form-control>
  <mdb-form-control>
    <input mdbInput type="text" id="formControlTwitchLink" class="form-control" [(ngModel)]="item.twitchLink"/>
    <label mdbLabel class="form-label" for="formControlTwitchLink">Twitch Link</label>
  </mdb-form-control>

  <div class="d-flex flex-wrap col-gap-1">
    <div>Timezone:</div>
    <div *ngFor="let tz of tzService.timezones" class="form-check form-check-inline">
      <input
        mdbRadio
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions"
        [id]="'inlineRadio-' + tz.value"
        [value]="tz.value"
        [(ngModel)]="item.timezone"
      />
      <label class="form-check-label" [for]="'inlineRadio-' + tz.value">{{tz.text}}</label>
    </div>
  </div>

  <mdb-form-control>
    <input mdbInput type="text" id="formControlOrder" class="form-control" [(ngModel)]="item.order"/>
    <label mdbLabel class="form-label" for="formControlOrder">Order</label>
  </mdb-form-control>
  <mdb-form-control>
    <input mdbInput type="text" id="formControlColor" class="form-control" [(ngModel)]="item.color"/>
    <label mdbLabel class="form-label" for="formControlColor">Color</label>
  </mdb-form-control>
  <mdb-form-control>
    <input mdbInput type="text" id="formControlBgColor" class="form-control" [(ngModel)]="item.bgColor"/>
    <label mdbLabel class="form-label" for="formControlBgColor">Background Color</label>
  </mdb-form-control>
  <div class="form-check">
    <input
      mdbCheckbox
      class="form-check-input"
      type="checkbox"
      id="ocrChecked"
      [(ngModel)]="item.ocr"
    />
  <label class="form-check-label" for="ocrChecked">
    Can schedule be OCR(Optical Character Recognition)
  </label>
</div>
</div>
