
<div class="container h-100 d-flex flex-column">
  <div class="d-flex justify-content-center align-items-center m-2">
    <div class="schedule-lick py-1 px-2" [routerLink]="Schedule.Week"
         [class.cursor-pointer]="current !== Schedule.Week"
         (click)="current = Schedule.Week">Week</div>
    <div class="mx-1">|</div>
    <div class="schedule-lick py-1 px-2" [routerLink]="Schedule.Month"
         [class.cursor-pointer]="current !== Schedule.Month"
         (click)="current = Schedule.Month">Month</div>
  </div>

  <app-toolbar></app-toolbar>

  <div class="h-100 flex-grow-1 mb-3">
    <router-outlet></router-outlet>
  </div>
</div>
