.schedule-lick {
  color: var(--primary-color);
  text-decoration: underline;

  &.cursor-pointer{
    color: var(--font-color);
    text-decoration: none;
    &:hover {
      background-color: rgba(32, 33, 36, 0.039);
      border-radius: 25%;
    }
  }
}
