<div class="d-flex flex-column justify-content-center h-100">
  <div class="d-flex">
    <div class="d-flex align-items-center title my-2">
    {{ displayDateText }}
    </div>
    <div class="d-flex align-items-center">
      <div class="change-date-icon cursor-pointer m-2" (click)="changeDate(-1)"><</div>
      <div class="change-date-icon cursor-pointer m-2" (click)="resetDate()">
        <i class="bi bi-calendar-x"></i>
      </div>
      <div class="change-date-icon cursor-pointer m-2" (click)="changeDate(+1)">></div>
    </div>
  </div>

  <div class="h-1 flex-grow-1 table-block">
    <table class="table table-bordered table-hover h-100">
      <thead>
        <tr>
          <th colspan="2">
            <app-icon-def></app-icon-def>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let row of data">
          <tr>
            <td>
              <div class="d-flex h-100 align-items-center justify-content-center">
                {{ row.hour }}
              </div>
            </td>
            <td>
              <div *ngFor="let stream of row.streams"
                   class="d-flex d-inline-flex time-stream-block my-1 py-1 px-2"
                   [ngClass]="stream.streamerInfo.bgColor">
                <app-display-text [stream]="stream">
                  【{{ stream.streamer }}】{{ stream.title }} {{ stream.displayTime }}
                </app-display-text>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>
</div>
