<div class="ocr-cmp container h-100 d-flex flex-column">

  <div class="fs-4 d-flex align-items-center justify-content-center mt-2">
    Schedule OCR
  </div>

  <div class=" d-flex justify-content-end gap-2">

    <!-- Checked switch -->
    <div class="form-check form-switch">
      <input
        mdbCheckbox
        class="form-check-input"
        type="checkbox"
        id="flexSwitchCheckChecked"
        (change)="showTextAnnotationChange($event)"
      />
      <label class="form-check-label" for="flexSwitchCheckChecked">Text Annotation</label>
    </div>
    <!-- Default disabled switch -->

    <button
      type="button" class="btn btn-link btn-sm btn-rounded"
      (click)="createAnchor()">
      New
    </button>
  </div>

  <div class="voice-button-content h-1 flex-grow-1">
    <div class="row h-100 w-100">
        <div
          #scheduleTemplateImgContent
          class="schedule-template-img col-12 col-lg-8 col-md-8  position-relative d-flex flex-column"
          [style.min-height]="'300px'"
          [class.overflow-scroll]="true"
          [class.h-100]="true"
        >

            <ng-container *ngIf="templateEditorService.isEditing$ | async; else immutableTmp">
              <app-template-editing-canvas
                class="position-absolute"
                [style.width]="'1296px'"
                [style.height]="'100%'">
              </app-template-editing-canvas>
              <img
                #image [src]="(templateEditorService.editingUrl$ | async)"
                [style.width]="'1296px'"
                (load)="loadTextAnnotationEditingUrl(image)">
            </ng-container>

            <ng-template #immutableTmp>
                <ng-container *ngIf="templateFormResultService.scheduleImgSrc$ | async; else imageRefTmp">
                    <img
                      #image [src]="templateFormResultService.scheduleImgSrc$ | async"
                      [style.width]="'1296px'"
                      (load)="load(image)">

                </ng-container>
                <ng-template #imageRefTmp>
                    <ng-container *ngIf="service.currentTemplateAnchor$ | async ;else imageTutorialTmp">
                      <img
                        #image
                        [src]="service.currTemplateUrl()"
                      >
                    </ng-container>
                </ng-template>
                <ng-template #imageTutorialTmp>
                    <img
                      #image
                      src="assets/插圖14.png"
                      [style.width]="'1296px'"
                    >
                </ng-template>
            </ng-template>

            <ng-container *ngIf="service.showTextAnnotation$ | async">
                <app-popover
                  class="position-absolute text d-flex"
                  *ngFor="let text of service.textAnnotations$ | async"
                  [isHover]="true"
                  [style.left]="text.left"
                  [style.top]="text.top">
                    <div icon>
                        <i class="fas fa-dot-circle"></i>
                    </div>
                    <div content>
                        top:{{text.top}}
                        left:{{text.left}}
                    </div>
                </app-popover>
            </ng-container>
        </div>
        <div appScrollBorder class="streamer-and-info col-12 col-lg-4 col-md-4 py-2 h-100">

            <div class="streamer-info d-flex flex-row">

                <div class="streamer-figure d-flex flex-wrap align-items-center justify-content-center">
                  <img
                    class="rounded-circle m-2"
                    [src]="currentStreamerInfo ? currentStreamerInfo.img : 'assets/imgs/OCR_default.png'"
                    [style.width]="'100px'"
                    [style.height]="'100px'">
                </div>

                <div class="ocr-streamer-autocomplete d-flex flex-column justify-content-center gap-2">
                    <mdb-form-control class="">

                      <input
                        matInput
                        [formControl]="myControl"
                        [matAutocomplete]="auto"
                        [(ngModel)]="streamerKeyword"
                        (ngModelChange)="changeStreamerKeyword(auto)"
                        mdbInput
                        type="text" id="formControlTwitchLink" class="form-control"/>
                      <label mdbLabel class="form-label" for="formControlTwitchLink">Streamer</label>

                      <mat-autocomplete
                        #auto="matAutocomplete" (optionSelected)="changeCurrStreamer($event.option.value)">
                        <mat-option
                          class="streamer-autocomplete"
                          *ngFor="let info of filterStreamers" [value]="info.name">{{ info.name }}</mat-option>
                      </mat-autocomplete>

                  </mdb-form-control>

                    <div class="streamer-schedule-templates d-flex align-items-center">
                        <a
                          *ngIf="service.currentTemplateAnchor$ | async"
                          class="d-flex align-items-center justify-content-center"
                          [style.width]="'30px'"
                          [style.height]="'30px'"
                          role="button"
                          (click)="reloadAnchors()">
                          <i class="fas fa-redo-alt"></i>
                        </a>
                        <a
                          *ngIf="service.currentTemplateAnchor$ | async"
                          class="d-flex align-items-center justify-content-center"
                          [style.width]="'30px'"
                          [style.height]="'30px'"
                          role="button"
                          (click)="editAnchor()">
                          <i class="fas fa-pen"></i>
                        </a>

                        <div class="d-flex flex-wrap align-items-center gap-2">
                          <button
                            *ngFor="let template of scheduleTemplates; let index=index"
                            type="button" class="btn btn-link btn-sm btn-rounded border"
                            [class.active]="service.isCurrTemplate(template.id)"
                            (click)="changeCurrTemplate(template)">
                              Temp: {{template.name}}
                          </button>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="template-form-editor" *ngIf="templateEditorService.isEditing$ | async">
              <app-template-form>
              </app-template-form>
            </div>

            <div class="template-form-result" *ngIf="!(templateEditorService.isEditing$ | async)">
              <app-template-form-result [streamerInfo]="currentStreamerInfo">
              </app-template-form-result>
            </div>

        </div>

    </div>
  </div>

</div>
