@media (max-width: 767px) {
  .streamer-and-info {
    max-height: calc(100% - 300px)
  }
}

.ocr-cmp {

  .voice-list a:hover {
    color: gold;
  }

  .voice-button-content .row{
    border-top: 1px solid #8a989e;
    border-bottom: 1px solid #8a989e;
  }

  .text {
    color: coral
  }

}

.cdk-overlay-pane {
  background-color: #ffffff;
  border-radius: 10px;
  border: solid 1px;
}

.streamer-autocomplete {
  background-color: rgba(243, 243, 243, 0.85);
  height: 2rem;

  &:hover {
    background-color: #edecec;
  }
}
