
.template-form-result {

  .date-content {
    background-color: #ffffffb3;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;

    .date-content-title {
      font-size: 0.5rem;
      font-weight: 800;
    }
  }

  .date-stream-content {
    font-size: 0.5rem;
    padding: 0.25rem;
  }
}

.streamer-autocomplete {
  background-color: rgba(243, 243, 243, 0.85);
  height: 2rem;

  &:hover {
    background-color: #edecec;
  }
}
