
<div class="modal-header">
  <h5 class="modal-title">
    <ng-container *ngIf="isNew ; else isEditText">New</ng-container>
    <ng-template #isEditText>Edit</ng-template>
  </h5>
  <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"
          (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
  <app-voice-detail #itemCmpRef [item]="item" [isNew]="isNew"></app-voice-detail>
</div>
<div class="modal-footer">
    <button *ngIf="isNew"
            class="btn btn-primary" type="button" (click)="new()"
            [disabled]="!itemCmpRef.isValid">
      CREATE
    </button>
    <button *ngIf="!isNew"
            class="btn btn-primary" type="button" (click)="edit()"
            [disabled]="!itemCmpRef.isValid">
      UPDATE
    </button>
    <button *ngIf="!isNew"
            class="btn btn-primary" type="button" (click)="delete()"
    >
      DELETE
    </button>
</div>
