
.edit-anchor-detail-cmp {

  .daily-stream-content {
    padding: 1rem;
    border: solid 1px #b9b9b9;
    border-radius: 0.5rem;

    .title {
      flex: none;
      left: 2rem;
      top: -0.8rem;
      background-color: #d1ecf6;
      padding: 0 0.8rem;
      border-radius: 1rem;
    }

  }
}
