
tbody tr td {
  &.is-today {
    background-color: var(--primary-color-ocpacity-15);
  }
}

th {
  position: sticky;
  top: -1px;
  z-index: 1;
}

.table-block {
  overflow-y: scroll;
}

.month-title {
  font-size: 1.5rem;
}

.change-month-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-month-icon:hover {
  border-radius: 50%;
  background-color: rgba(32,33,36,0.039);
}

.profile-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.header-week {
  min-width: 150px;
  background-color: var(--second-color);
  color: var(--second-color-oppsite);
  font-size: 1rem;
  font-weight: 700;
}

.col-week {
}

.col-week-div {
  min-height: 100px;
}

.col-week-div {
  .day {
    background-color: var(--primary-color-ocpacity-15);
    padding: 0.15rem;
    border-radius: 50%;
  }

  .streamers-block {
    font-size: small;
  }
}
.is-today .col-week-div .day {
  background-color: white;
}

.streamer-icon {
  cursor: pointer;

  .badge {
    top: 7px;
    background-color: #ffffff;
  }
}

.streamer-detail {
  z-index: 1;
  top: 18px;
  border-radius: 10%;
  padding: 10px 15px;
  min-width: 200px;
}

/* Tooltip container */
.tooltip-div {
  position: relative;
  display: inline-block;
  //border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-div .tooltiptext {
  visibility: hidden;
  font-size: 0.6rem;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.col-week:last-child .tooltip-div .tooltiptext{
  right: 5%
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-div:focus .tooltiptext {
  visibility: visible;
}
.tooltip-div:hover .tooltiptext {
  visibility: visible;
}

.canceled {
  text-decoration: line-through;
}
