
.theme-blue {

  --primary-color: #67ACE0;
  --primary-color-ocpacity-15: #67ACE026;
  --primary-color-oppsite: #383838;

  --second-color: #f2e3b3;
  --second-color-oppsite: #938b73;

  --third-color: #545454b8;
  --third-color-oppsite: #FFFFFF;

  --neutral-color: #F0F0F040;

  //--third-color: #5877ba;
  --is-active: #b25a28;

}
