
.theme-test0 {

  --primary-color: #72C6A4;
  --primary-color-ocpacity-15: #72C6A426;
  --primary-color-oppsite: #3e3e3e;

  //--second-color: #BAC8CE;
  //--second-color-oppsite: #777e81;
  --second-color: #e0e37d;
  --second-color-oppsite: #878787;

  --third-color: #427BA6b8;
  --third-color-oppsite: #eff8ff;

  --neutral-color: #F0F0F040;

  --is-active: #b25a28;

  a {
    color: #537d6c;
  }

}
