

.theme-4 {
  --primary-color: #f3dbf9;
  --primary-color-ocpacity-15: #A21FC026;

  --second-color: rgba(54, 33, 16, 0.83);
  --second-color-oppsite: #EDCD81;

  //--third-color: #E6F53Bb8;
  --third-color: #FF846Bb8;
  --third-color-oppsite: #2b2b2b;

  --neutral-color: #F0F0F040;
  --is-active: #FF846B;

  a {
    color: #EDCD81;
  }

}
