

.theme-yellow {

  --primary-color: #9B354D;
  --primary-color-ocpacity-15: #9B354D26;
  --primary-color-oppsite: #cbb7bb;

  --second-color: #F9D401;
  --second-color-oppsite: #2b2b2b;

  --third-color: #242629b8;
  --third-color-oppsite: #FFFFFF;

  --neutral-color: #F0F0F040;

  --is-active: #F99F00;

  a {
    color: #cd9aa6;
  }

}
