
<div class="modal-header">
  <h5 class="modal-title">
    Edit
  </h5>
  <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"
          (click)="modalRef.close()"></button>
</div>
<div class="modal-body">

  <app-anchor-detail [ocrAnchorVo]="ocrAnchorVo" ></app-anchor-detail>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button"
          (click)="apply()">
      Apply
    </button>
    <button class="btn btn-outline-primary" type="button"
            (click)="reset()">
      Reset
    </button>
    <button class="btn btn-primary" type="button"
            (click)="save()">
      Save
    </button>
    <button class="btn btn-outline-primary" type="button" (click)="delete()">
      delete
    </button>
</div>
