
.week-checked-schedule {
  top: 0.3rem;
  right: 0px;
  z-index: 2;
}

.checked-list-block {
  width: auto;

  min-width: 266px;
  max-width: 266px;
}

.mask {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.streamer-icon-block {
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;

  select {
    font-size: 0.8rem;
  }
}

.streamer-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}


.change-week-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.disabled {
    display: none;
  }
}

.change-week-icon:hover {
  border-radius: 50%;
  background-color: rgba(32,33,36,0.039);
}

.checked-icon-block {
  border-radius: 5px;
  border: solid 1px;
  height: 1.25rem;
  width: 1.25rem;

  color: var(--third-color);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &.checked {
    background-color: var(--third-color);
    i {
      color: var(--third-color-oppsite);
    }
  }
}

.editable-btn-block {
  .btn-outline-primary {
    padding: 0.3rem 1rem 0.175rem 1rem;
  }
  .btn-primary {
    padding: 0.375rem 1rem 0.275rem 1rem;
  }
}
