<div class="week-checked-schedule position-absolute cursor-pointer">
  <div class="position-relative">

    <i class="bi bi-clipboard-check icon "></i>
    <div class="checked-list-block position-absolute p-3 align-items-center justify-content-center flex-column">
      <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
        <div class="fs-5">
          Schedule Updated On Twitter
        </div>
        <div class="fs-6 d-flex align-items-center">
          <div [class.disabled]="currWeek" class="change-week-icon cursor-pointer m-2" (click)="changeWeek(-7)"><</div>
          {{ displayWeekText}}
          <div [class.disabled]="!currWeek" class="change-week-icon cursor-pointer m-2" (click)="changeWeek(+7)">></div>
        </div>
      </div>
      <div class="d-flex flex-wrap">
        <div class="streamer-icon-block d-flex align-items-center" *ngFor="let streamer of streamers">
          <img class=" streamer-icon me-1" [src]="streamer.img"/>
          <input class="form-check-input" type="checkbox" [checked]="streamer.scheduleUpdated" disabled/>
        </div>
      </div>

    </div>

  </div>

</div>
