
<header class="h-100">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-scroll navbar-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          (click)="backgroundImageExample2.toggle()"
          aria-controls="backgroundImageExample2"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div
          mdbCollapse
          #backgroundImageExample2="mdbCollapse"
          class="collapse navbar-collapse"
          id="backgroundImageExample2"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--            <li class="nav-item active">-->
<!--              <a class="nav-link" aria-current="page" href="#" (click)="click()">Home</a>-->
<!--            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="#/streamer" (click)="click()">Streamer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/schedule" (click)="click()">Schedule</a>
            </li>
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="#" (click)="backgroundImageExample2.toggle()">About</a>-->
<!--            </li>-->
          </ul>
        </div>

        <ng-container *ngIf="adminService.isLogin$ | async">
          <a class="me-3"
             role="button"
             (click)="adminService.editToggle()">
            <i class="fas fa-pen-nib"
               [class]="{ 'editable': adminService.editable$ | async }"
            ></i>
          </a>
        </ng-container>
        <app-login class="mx-3"></app-login>
      </div>
  </nav>
  <!-- Navbar -->

  <div class="h-100 flex-grow-1 content-block pb-5">
    <router-outlet></router-outlet>
  </div>

  <footer class="bg-light text-center text-lg-start position-relative">
    <!-- Copyright -->
    <div class="text-center p-1 position-absolute footer" >
      <div class="d-flex justify-content-center">
        Resource:
        <a href="https://codepen.io/jackrugile/pen/JddmaX">
          Rainbow Loader
        </a>
<!--         <a href='https://.pngtree.com/free-backgrounds'>來自的免費背景照片 .pngtree.com/</a>-->
      </div>
    </div>
    <!-- Copyright -->
  </footer>
</header>


<app-rainbow-loader>
</app-rainbow-loader>
