footer {
  height: 0px;
}

.footer {
  width: 100%;
  bottom: 0px;
  font-size: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar {
  background-image: linear-gradient(#ffb8b8e3 0%, #fffffff2 100%)
}

.nav-link-icon.home {
  width: 30px;
  right: calc(100%/2);
  bottom: -2px;
}

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
  //color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
  //color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  //background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.bg-image {
  //background-color: #adbbc7;
  //background-image: url('assets/imgs/free/ackground_964413.jpg');
}

.content-block {
  padding-top: 3rem;
}
@media (min-width: 992px) {
  .content-block {
    padding-top: 4.5rem;
  }
  .nav-link-icon.home {
    bottom: 2px;
  }
}

.editable {
  color: var(--second-color);
  border-radius: 50%;
  padding: 0.25rem;
  border-style: solid;
}

.wrapper {
  border-radius: 10px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  background: #adddff;
  width: 200vw;
  height: 200vw;
  border-radius: 40%;
  opacity: 0.4;
  position: absolute;
  top: 90%;
  right: 0%;
  //margin-left: -250px;
  //margin-top: -250px;
  transform-origin: center;
  animation: drift 11s infinite linear;
  z-index: -1;
}
.wave.two {
  animation: drift 19s infinite linear;
}
.wave.three {
  animation: drift 29s infinite linear;
  opacity: 0.1;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-fluid .item{
  display: flex;
  &:not(last-child) {
    padding-right: 1rem;
  }
}

.container-fluid .mobile-425-size {
  display: flex;
}

@media (max-width: 425px) {
  .container-fluid .item{
    &:not(last-child) {
      padding-right: 0.5rem;
    }
  }

}

@media (max-width: 425px) {

  .container-fluid .mobile-425-size {
    display: none;
  }
}

