

.stream-group-button {
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #bbbbbb;
  margin-left: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0rem 0.75rem;

  &.active {
    //background-color: #cfe9ff;
    //border-color: #cfe9ff;
    background-color: var(--is-today);
    border-color: var(--is-today);
  }
}
