
.streamer-detail-info .bi:not(:last-child) {
  margin-right: 0.1rem;
}

.streamer-detail-info.cursor-pointer {
  &:hover {
    text-decoration: underline;
  }
}
.streamer-detail-info {
  .canceled {
    text-decoration: line-through	;
  }
}

