
<div class="d-flex flex-column justify-content-center h-100">
  <div class="d-flex align-items-center my-2">
    <div class="month-title">
      {{ year }}-{{ month+1 }}
    </div>
    <div class="d-flex">
      <div class="change-month-icon cursor-pointer m-2" (click)="changeMonth(month-1)"><</div>
      <div class="change-month-icon cursor-pointer m-2" (click)="resetMonth()">
        <i class="bi bi-calendar-x"></i>
      </div>
      <div class="change-month-icon cursor-pointer m-2" (click)="changeMonth(month+1)">></div>
    </div>
  </div>
  <div class="h-1 flex-grow-1 table-block">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let header of headers"
            class="header-week">
          {{ header.value }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of data">
        <td *ngFor="let date of week"
            class="col-week h-1"
            [class.is-today]="date.isToday">
          <div class="d-flex flex-column h-100 col-week-div">
            <div class="">
              {{ date.moment?.format('DD') }}
            </div>
            <div class="d-flex flex-wrap mb-auto">
              <ng-container *ngIf="date.streamers.length">
                <div *ngFor="let streamer of date.streamers"
                     class="streamer-icon position-relative mx-1 tooltip-div"
                     (click)="showStreamerDetail(streamer)">
                  <img
                    class="m-1 profile-icon"
                    [src]="streamer.info.img"/>
                  <span class="position-absolute start-100 translate-middle badge rounded-pill"
                        [ngClass]="streamer.info.color">
                    {{ streamer.streams.length }}
                  </span>
                  <div class="d-flex flex-column position-absolute streamer-detail tooltiptext"
                       [ngClass]="streamer.info.bgColor">
                    <ng-container *ngFor="let stream of streamer.streams">
                      <div *ngIf="stream.link; else textRef"
                           class="streamer-detail-info with-link"
                           target="_blank"
                           (click)="openUrl(stream.link)">
                        <i class="bi bi-youtube"></i>
                        {{ stream.title }}:{{ stream.displayTime }}
                      </div>
                      <ng-template #textRef>
                        <div class="streamer-detail-info">
                          {{ stream.title }}:{{ stream.displayTime }}
                        </div>
                      </ng-template>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
