
tbody tr td {
  &.is-today {
    background-color: var(--is-today);
  }
}

th {
  position: sticky;
  top: -1px;
  z-index: 1;
}

.table-block {
  overflow-y: scroll;
}

.month-title {
  font-size: 1.5rem;
}

.change-month-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.change-month-icon:hover {
  border-radius: 50%;
  background-color: rgba(32,33,36,0.039);
}

.profile-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.header-week {
  width: 100px;
  background-color: var(--column-title-color);
  font-size: 1rem;
}

.col-week {
}

.col-week-div {
  min-height: 100px;
}

.streamer-icon {
  cursor: pointer;

  .badge {
    top: 7px;
    background-color: #ffffff;
  }
}

.streamer-detail {
  z-index: 1;
  top: 30px;
  border-radius: 10%;
  padding: 10px 15px;
  min-width: 200px;

  .streamer-detail-info {
    font-size: 0.8rem;
    //white-space: nowrap;
  }
}

/* Tooltip container */
.tooltip-div {
  position: relative;
  display: inline-block;
  //border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-div .tooltiptext {
  visibility: hidden;
  font-size: 0.6rem;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.col-week:last-child .tooltip-div .tooltiptext{
  right: 5%
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-div:focus .tooltiptext {
  visibility: visible;
}
.tooltip-div:hover .tooltiptext {
  visibility: visible;
}

.streamer-detail-info.with-link:hover {
  text-decoration: underline;
}

.badge {
  font-size: .6em;
}
