/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root{
  --undefine-primary-color: rgba(194, 194, 194, 0.67);
  --ike-primary-color: rgba(129, 191, 245, 0.8);
  --vox-primary-color: rgba(245, 129, 129, 0.8);
  --luca-primary-color: rgba(241, 245, 129, 0.8);
  --mysta-primary-color: rgba(245, 179, 129, 0.8);
  --shu-primary-color: rgba(177, 129, 245, 0.8);

  --column-title-color: #ffb8b8;

  --is-today: #fefeeab8;
  --is-streamer: #e37f7f;
  --is-guest: #7480be;
}

.undefine-primary-color {
  color: var(--undefine-primary-color)
}
.ike-primary-color {
  color: var(--ike-primary-color)
}
.vox-primary-color {
  color: var(--vox-primary-color)
}
.luca-primary-color {
  color: var(--luca-primary-color)
}
.mysta-primary-color {
  color: var(--mysta-primary-color)
}
.shu-primary-color {
  color: var(--shu-primary-color)
}
.ike-primary-color {
  color: var(--ike-primary-color)
}

.undefine-primary-bg-color {
  background-color: var(--undefine-primary-color)
}
.ike-primary-bg-color {
  background-color: var(--ike-primary-color)
}
.vox-primary-bg-color {
  background-color: var(--vox-primary-color)
}
.luca-primary-bg-color {
  background-color: var(--luca-primary-color)
}
.mysta-primary-bg-color {
  background-color: var(--mysta-primary-color)
}
.shu-primary-bg-color {
  background-color: var(--shu-primary-color)
}

body {
  font-family: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.h-1 {
  height: 1px;
}

.is-today {
  background-color: var(--is-today);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0px 0 16px 0;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgb(219,219,219);
}
