
.week-title {
  font-size: 1.5rem;
}

.change-week-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.change-week-icon:hover {
  border-radius: 50%;
  background-color: rgba(32,33,36,0.039);
}

tbody tr td {
  &.is-today {
    background-color: var(--is-today);
  }
}

th {
  position: sticky;
  top: -1px;
  z-index: 1;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.td-stream {
  font-size: 0.6rem;
}

.stream-streamer-header,
.stream-date-header {
  background-color: var(--column-title-color);
  min-width: 100px;
  font-size: 1rem;
}

.streamer-name {
  font-size: 1.2rem;
  font-family: fantasy;
}

.table-block {
  overflow-y: scroll;
}

/* Tooltip container */
.tooltip-div {
  position: relative;
  display: inline-block;
  //border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-div .tooltiptext {
  visibility: hidden;
  font-size: 0.6rem;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-div:hover .tooltiptext {
  visibility: visible;
}

.button {
  text-decoration: underline;
  color: #d20000;
}

.button.cursor-pointer{
  color: #000;
  text-decoration: none;
  &:hover {
    background-color: rgba(32, 33, 36, 0.039);
    border-radius: 25%;
  }
}

.change-week-block {
  background-color: #ffffffad;
  border-radius: 30px;
}
