<div class="d-flex flex-wrap icon-def-block position-relative">
  <div *ngIf="canCollapse" class="expand-icon position-absolute cursor-pointer"
       (click)="expand=!expand">
    <i *ngIf="!expand" class="bi bi-chevron-down"></i>
    <i *ngIf="expand" class="bi bi-chevron-up"></i>
  </div>
  <div class="d-flex flex-wrap"
       [class.collapse]="canCollapse && !expand">
    <div class="d-flex icon-def">
      <i class="bi bi-youtube me-1"></i>
      stream's link (link to their youtube without it)
    </div>
    <div class="d-flex icon-def">
      <i class="bi bi-journal-text me-1"></i>
      on their schedule (on other's schedule without it)
    </div>
    <div class="d-flex icon-def">
      <i class="bi bi-exclamation-circle-fill me-1"></i>
      to be confirmed
    </div>
    <div class="d-flex icon-def">
      <i class="bi bi-wrench-adjustable me-1"></i>
      schedule changed
    </div>
    <div class="d-flex icon-def">
      <i class="bi bi-plus-circle-fill me-1"></i>
      guerilla
    </div>
  </div>
</div>
